$color_blue: #1698d9;
$color_white: #fff;
$color_red: #d91667;
$color_green: #32cd32;
$color_disabled: #b3b3b3;
$color_yellow: #ffff66;

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin flexCenterAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin fontSize24Bold {
  font-size: 24px;
  font-weight: 900;
}

@mixin fontSize48Bold {
  font-size: 48px;
  font-weight: 900;
}

@mixin iphones375 {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin phone-only {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin between-phone640 {
  @media (min-width: 501px) and (max-width: 640px) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}
