@import "../styles/_mixins";

.app {
  &__wrapper {
    &-header {
      margin-bottom: 25px;

      @include iphones375 {
        margin-bottom: 10px;
      }
    }

    &-main {
      @include flexCenter;

      height: 550px;
      overflow-y: auto;
    }
  }
}
