@import "../styles/_mixins";

.title__wrapper {
  @include flexCenter;

  &-value {
    font-family: "Exo 2";
    font-size: 36px;
    font-weight: 100;

    color: #fff;

    @include between-phone640 {
      font-size: 30px;
    }

    @include phone-only {
      font-size: 26px;

      @include flexCol;
    }

    @include iphones375 {
      font-size: 22px;

      @include flexCol;
    }
  }

  &-value-del-g {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: 100;

    color: #666;
  }

  &-value-del-g-disable {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: 100;

    color: #b3b3b3;
  }

  &-value-gift {
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 100;

    color: #666;
  }

  &-value-gift-disable {
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 100;

    color: #b3b3b3;
  }

  &-value-name-big {
    font-family: "Trebuchet MS";

    @include fontSize48Bold;

    color: #000;

    @include iphones375 {
      font-size: 30px;
    }
  }

  &-value-name-big-disable {
    font-family: "Trebuchet MS";

    @include fontSize48Bold;

    color: #b3b3b3;

    @include iphones375 {
      font-size: 30px;
    }
  }

  &-value-name-med {
    font-family: "Trebuchet MS";

    @include fontSize24Bold;

    color: #000;

    @include iphones375 {
        font-size: 18px;
      }
  }

  &-value-name-med-disable {
    font-family: "Trebuchet MS";

    @include fontSize24Bold;

    color: #b3b3b3;
  }
}
