@import "../styles/_mixins";

.weight {
  &__wrapper {
    width: 82px;
    height: 82px;

    border-radius: 50%;

    background-color: $color_blue;

    @include flexColCenter;

    &-value {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 44px;

      color: $color_white;

      @include iphones375 {
        font-size: 38px;
      }
    }

    &-unit {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

      margin-top: -5px;

      color: $color_white;
    }

    @include iphones375 {
      width: 72px;
      height: 72px;
    }
  }

  &__wrapper-red {
    width: 82px;
    height: 82px;

    border-radius: 50%;

    background-color: $color_red;

    @include flexColCenter;

    &-value {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 44px;

      color: $color_white;
    }

    &-unit {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

      margin-top: -5px;

      color: $color_white;
    }

    @include iphones375 {
      width: 72px;
      height: 72px;
    }
  }

  &__wrapper-green {
    width: 82px;
    height: 82px;

    border-radius: 50%;

    background-color: $color_green;

    @include flexColCenter;

    &-value {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 44px;

      color: $color_white;
    }

    &-unit {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

      margin-top: -5px;

      color: $color_white;
    }

    @include iphones375 {
      width: 72px;
      height: 72px;
    }
  }

  &__wrapper-disabled {
    width: 82px;
    height: 82px;

    border-radius: 50%;

    background-color: $color_disabled;

    @include flexColCenter;

    &-value {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 44px;

      color: $color_white;
    }

    &-unit {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

      margin-top: -5px;

      color: $color_white;
    }

    @include iphones375 {
      width: 72px;
      height: 72px;
    }
  }
}
