@import "../_mixins";

.content {
  background: url(../../images//background.png);

  max-width: max-content;

  &__wrapper {
    margin: 0 40px 0 40px;

    position: relative;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid $color_blue;

    background-color: #fff;

    clip-path: polygon(-82% 100%, 100% 100%, 100% 100%, 100% 100%, 100% -100%);

    cursor: pointer;

    &-names {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-left: 50px;
      margin-bottom: 35px;

      &-delicacy {
        margin-top: 25px;
      }

      &-boxdescr {
        margin-bottom: 15px;
      }

      @include iphones375 {
        margin-bottom: 15px;
      }
    }

    &-details {
      display: flex;

      &-image {
        margin: 0 -50px 0 0;

        .image-parameter {
          width: 265px;

          margin-bottom: -3px;

          border-bottom-left-radius: 8px;

          @include iphones375 {
            width: 250px;
          }
        }
      }

      &-weight {
        align-self: flex-end;

        margin: 0 15px 15px 0;
      }
    }
    &::before {
      content: "";
      display: block;
      border-bottom: 5px solid $color_blue;
      border-left: 60px solid transparent;
      position: absolute;
      top: 19px;
      left: -18px;
      transform: rotate(120deg);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 9px;

      @include iphones375 {
        top: 15px;
        left: -15px;

        border-left: 52px solid transparent;
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;

      margin-top: 15px;
      margin-bottom: 15px;

      .description {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-weight: 400;

        margin-right: 5px;

        color: #fff;

        @include iphones375 {
          width: 175px;
          white-space: pre-line;
          text-align: center;
        }
      }

      .description-yellow {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-weight: 400;

        margin-right: 5px;

        color: $color_yellow;
      }

      .buy {
        font-family: "Trebuchet MS";
        font-size: 13px;

        color: $color_blue;

        cursor: pointer;
      }

      .buy__disabled {
        pointer-events: none;

        color: $color_yellow;
      }
    }

    @include  desktop-up {
      margin: 0 10px;
    }

    @include  desktop1024 {
      margin: 0 10px;
    }
    
    @include  tablet-only {
      margin: 0 20px;
    }
  }

  &__wrapper-red {
    margin: 0 40px 0 40px;

    position: relative;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid $color_red;

    background-color: #fff;

    clip-path: polygon(-82% 100%, 100% 100%, 100% 100%, 100% 100%, 100% -100%);

    cursor: pointer;

    &-names {
      margin-left: 50px;
      margin-bottom: 35px;

      &-delicacy {
        margin-top: 25px;
      }

      &-boxdescr {
        margin-bottom: 15px;
      }
    }

    &-details {
      display: flex;

      &-image {
        margin: 0 -50px 0 0;

        .image-parameter {
          width: 265px;

          margin-bottom: -3px;

          border-bottom-left-radius: 8px;
        }
      }

      &-weight {
        align-self: flex-end;

        margin: 0 15px 15px 0;
      }
    }
    &::before {
      content: "";
      display: block;
      border-bottom: 5px solid $color_red;
      border-left: 60px solid transparent;
      position: absolute;
      top: 19px;
      left: -20px;
      -webkit-transform: rotate(0deg);
      transform: rotate(120deg);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 9px;

      @include iphones375 {
        top: 15px;
        left: -15px;

        transform: rotate(121deg);

        border-left: 52px solid transparent;
      }
    }

    @include  desktop-up {
      margin: 0 10px;
    }

    @include  desktop1024 {
      margin: 0 10px;
    }

    @include  tablet-only {
      margin: 0 20px;
    }
  }

  &__wrapper-green {
    margin: 0 40px 0 40px;

    position: relative;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid $color_green;

    background-color: #fff;

    clip-path: polygon(-82% 100%, 100% 100%, 100% 100%, 100% 100%, 100% -100%);

    cursor: pointer;

    &-names {
      margin-left: 50px;

      &-delicacy {
        margin-top: 25px;
      }

      &-boxdescr {
        margin-bottom: 15px;
      }
    }

    &-names-customer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-left: 50px;
      margin-bottom: 20px;

      &-delicacy {
        margin-top: 25px;
      }

      &-boxdescr {
        margin-bottom: 15px;
      }
    }

    &-details {
      display: flex;

      &-image {
        margin: 0 -50px 0 0;

        .image-parameter {
          width: 265px;

          margin-bottom: -3px;

          border-bottom-left-radius: 8px;
        }
      }

      &-weight {
        align-self: flex-end;

        margin: 0 15px 15px 0;
      }
    }
    &::before {
      content: "";
      display: block;
      border-bottom: 5px solid $color_green;
      border-left: 58px solid transparent;
      position: absolute;
      top: 19px;
      left: -18px;
      -webkit-transform: rotate(0deg);
      transform: rotate(120deg);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 9px;
    }

    @include  desktop-up {
      margin: 0 10px;
    }

    @include  desktop1024 {
      margin: 0 10px;
    }

    @include  tablet-only {
      margin: 0;
    }
  }

  &__wrapper-disabled {
    position: relative;

    pointer-events: none;
    filter: blur(1px) contrast(45%) brightness(1.3);

    margin: 0 40px 0 40px;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid $color_disabled;

    &::before {
      content: "";
      display: block;
      border-bottom: 5px solid $color_disabled;
      border-left: 60px solid transparent;
      position: absolute;
      top: 19px;
      left: -19px;
      transform: rotate(120deg);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 9px;
    }

    &-bottom {
      display: flex;
      justify-content: center;

      margin-top: 15px;

      .description {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-weight: 400;

        margin-right: 5px;

        color: #fff;
      }
    }

    @include  desktop-up {
      margin: 0 10px;
    }
    
    @include  desktop1024 {
      margin: 0 10px;
    }
  }
}
