@import "../_mixins";

.content-list {
    &__wrapper {
        &-single {
            display: flex;

            @include desktop1024 {
                flex-wrap: wrap;
                justify-content: center;
            }

            @include  tablet-only {
                flex-wrap: wrap;

                @include flexCenterAlign;
            }

            @include  phone-only {
                flex-direction: column;

                @include flexCenterAlign;
            }
        }
    }
}